@CHARSET "UTF-8";
body{
	text-align:center;
	background-color:rgb(122,192,230);
}
.pageContent{
	background-color:rgb(221,240,255);
	width:80%;
	margin:0 auto
}
.survey{
	width:75%;
	font-family:"新細明體";
	margin:0 auto;
}
.surveyItem{
	background-color:rgb(139,191,226);
	text-align:left;
}
.keyIndicator{
	color:red;
}
.surveyValue{
	background-color:white;
	font-family:"新細明體";
	text-align:left;
	margin-bottom:10px;
}

.hightlightborder{
	border-style:solid;
	border-width:2px;
	border-color:red;
}